schema/wps_features.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="www.icaci.org/genmr/wps" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ica="www.icaci.org/genmr/wps" xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- import constructs from the GML Feature and Geometry schemas -->
	<xs:import namespace="http://www.w3.org/ns/sawsdl" schemaLocation="http://www.w3.org/TR/sawsdl/sawsdl.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	<xs:element name="FeatureCollection" type="ica:FeatureCollectionType"/>
	<xs:element name="Feature" type="ica:FeatureType"/>
	<xs:element name="Point" type="gml:PointType"/>
	<xs:element name="LineString" type="gml:LineStringType"/>
	<xs:element name="Polygon" type="gml:PolygonType"/>
	<xs:element name="MultiPoint" type="gml:MultiPointType"/>
	<xs:element name="MultiLineString" type="gml:MultiLineStringType"/>
	<xs:element name="MultiPolygon" type="gml:MultiPolygonType"/>
	<xs:element name="GeometryCollection" type="gml:GeometryCollectionType"/>
	<xs:element name="Table" type="ica:TableType"/>
	<xs:element name="List" type="ica:ListType"/>
	<xs:complexType name="FeatureCollectionType">
		<xs:annotation>
			<xs:documentation>To add semantic annotations to this feature collection type, add the sawsdl:modelReference attribute.
<!-- example start
	<xs:complexType name="FeatureCollectionType" sawsdl:modelReference="http://server/ontology/semantic#forrest">
example end -->
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Add here the feature collection attributes defined by one element per attribute. An element must have a name started with 'Attribute' followed by the unique attribute identifier (e.g. AttributeID for the ID attribute). The type of the element must be one of ica:AttTypeFeatureCollection (e.g. ica:AttributeTypeInteger). See here an example with 2 attributes (1. attribute: ID of type Integer, 2. attribute: SRS of type String):
<!-- example start
	<xs:element name="AttributeID" type="ica:AttributeTypeInteger"/>
	<xs:element name="AttributeSRS" type="ica:AttributeTypeString"/>
example end -->
						</xs:documentation>
					</xs:annotation>
					<xs:element name="Feature" type="ica:FeatureType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeatureType">
		<xs:annotation>
			<xs:documentation>To add semantic annotations to this feature type, add the sawsdl:modelReference attribute.
<!-- example start
	<xs:complexType name="FeatureType" sawsdl:modelReference="http://server/ontology/semantic#forrest">
example end -->
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Add here the feature attributes defined by one element per attribute. An element must have a name started with 'Attribute' followed by the unique attribute identifier (e.g. AttributeStreet for the Street attribute). The type of the element must be one of ica:AttTypeFeature (e.g. ica:AttributeTypeGeometryLineString). See here an example with 2 attributes (1. attribute: Street of type LineString, 2. attribute: SignatureWidth of type Double):
<!-- example start
	<xs:element name="AttributeStreet" type="ica:AttributeTypeGeometryLineString"/>
	<xs:element name="AttributeSignatureWidth" type="ica:AttributeTypeDouble"/>
example end -->
						</xs:documentation>
					</xs:annotation>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Tuple">
				<xs:complexType>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Add here the table attributes defined by one element per attribute. An element must have a name started with 'Attribute' followed by the unique attribute identifier (e.g. AttributeID for the ID attribute). The type of the element must be one of ica:AttTypeFeature (e.g. ica:AttributeTypeInteger). See here an example with 2 attributes (1. attribute: ID of type Integer, 2. attribute: Name of type String):
<!-- example start
	<xs:element name="AttributeID" type="ica:AttributeTypeInteger"/>
	<xs:element name="AttributeName" type="ica:AttributeTypeString"/>
example end -->
							</xs:documentation>
						</xs:annotation>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation>Add here the list item one single element. The element name must be 'ListItem'. The type of the element must be one of ica:AttTypeFeature (e.g. ica:AttributeTypeInteger) or ica:AttTypeList (e.g. ica:ListTypeFeatureCollection). See here an example with a list item of type String:
<!-- example start
	<xs:element name="ListItem" type="ica:AttributeTypeString"/>
example end -->
				</xs:documentation>
			</xs:annotation>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType">
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryPoint">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:PointType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryPoint"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryLineString">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:LineStringType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryLineString"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryPolygon">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:PolygonType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryPolygon"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryMultiPoint">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:MultiPointType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryMultiPoint"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryMultiLineString">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:MultiLineStringType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryMultiLineString"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryMultiPolygon">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:MultiPolygonType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryMultiPolygon"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryMultiGeometry">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:GeometryCollectionType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeGeometryMultiGeometry"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeGeometryGeometry">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:AbstractGeometryType">
							<xs:sequence>
								<xs:any maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>This must be the content of one of gml:PointType, gml:LineStringType, gml:PolygonType, gml:MultiPointType, gml:MultiLineStringType, gml:MultiPolygonType, gml:GeometryCollectionType</xs:documentation>
									</xs:annotation>
								</xs:any>
							</xs:sequence>
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeString">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeString"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeInteger">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:integer">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeInteger"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeLong">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:long">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeLong"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeDouble">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeDouble"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeBoolean">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeBoolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeDate">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" use="required" fixed="AttributeTypeDate"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeTypeComplex">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ica:ComplexType">
							<xs:attribute name="wpstype" type="ica:AttTypeFeature" fixed="AttributeTypeComplex"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListTypeFeature">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ica:FeatureType">
							<xs:attribute name="wpstype" type="ica:AttTypeList" use="required" fixed="ListTypeFeature"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListTypeFeatureCollection">
		<xs:sequence>
			<xs:element name="Value">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ica:FeatureCollectionType">
							<xs:attribute name="wpstype" type="ica:AttTypeList" use="required" fixed="ListTypeFeatureCollection"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AttTypeFeature">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AttributeTypeString"/>
			<xs:enumeration value="AttributeTypeInteger"/>
			<xs:enumeration value="AttributeTypeLong"/>
			<xs:enumeration value="AttributeTypeDouble"/>
			<xs:enumeration value="AttributeTypeBoolean"/>
			<xs:enumeration value="AttributeTypeDate"/>
			<xs:enumeration value="AttributeTypeComplex"/>
			<xs:enumeration value="AttributeTypeGeometryPoint"/>
			<xs:enumeration value="AttributeTypeGeometryLineString"/>
			<xs:enumeration value="AttributeTypeGeometryPolygon"/>
			<xs:enumeration value="AttributeTypeGeometryMultiPoint"/>
			<xs:enumeration value="AttributeTypeGeometryMultiLineString"/>
			<xs:enumeration value="AttributeTypeGeometryMultiPolygon"/>
			<xs:enumeration value="AttributeTypeGeometryMultiGeometry"/>
			<xs:enumeration value="AttributeTypeGeometryGeometry"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeFeatureCollection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AttributeTypeString"/>
			<xs:enumeration value="AttributeTypeInteger"/>
			<xs:enumeration value="AttributeTypeLong"/>
			<xs:enumeration value="AttributeTypeDouble"/>
			<xs:enumeration value="AttributeTypeBoolean"/>
			<xs:enumeration value="AttributeTypeDate"/>
			<xs:enumeration value="AttributeTypeComplex"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ListTypeFeature"/>
			<xs:enumeration value="ListTypeFeatureCollection"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
